<div class="addContainer">

  <div class="modalHeader">
    <h2 mat-dialog-title> View Passager</h2>
    <button mat-icon-button (click)="close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>

    <div class="mt-4"></div>

    <div class="row">
   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
            <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Nom</mat-label>
              <input matInput  [(ngModel)]="selectedPassager.nom" [readonly]="true"  required />
            </mat-form-field>
          </div>
   </div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
            <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Cin</mat-label>
              <input matInput  [(ngModel)]="selectedPassager.cin" [readonly]="true"  required />
            </mat-form-field>
          </div>
   </div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
            <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Prenom</mat-label>
              <input matInput  [(ngModel)]="selectedPassager.prenom" [readonly]="true"  required />
            </mat-form-field>
          </div>
   </div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
            <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Telephone</mat-label>
              <input matInput  [(ngModel)]="selectedPassager.telephone" [readonly]="true"  required />
            </mat-form-field>
          </div>
   </div>

  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
              <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Status</mat-label>
                <mat-select formControlName="status" required>
                  <mat-option [value]="1" >
                         1
                  </mat-option>
                </mat-select>
              </mat-form-field>
  </div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Date naissance</mat-label>
                  <input matInput [owlDateTimeTrigger]="date2"  [(ngModel)]="selectedPassager.dateNaissance" [owlDateTime]="date2" [readonly]="true">
                  <owl-date-time #date2></owl-date-time>
                </mat-form-field>       </div>
</div>


	</div>

<div class="btn-sec mt-4">
  
  <button mat-raised-button color="warn" (click)="close()" tabindex="-1">
    Cancel
  </button>

</div>
  </div>
