<div class="addContainer">

  <div class="modalHeader">
    <h2 mat-dialog-title> Search Billet</h2>
    <button mat-icon-button (click)="close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>

    <div class="mt-4"></div>


  <div mat-dialog-content>    <div class="row">
   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Num billet Contain</mat-label>
              <input matInput [(ngModel)]="selectedBillet.numBillet__like" />
            </mat-form-field>
          </div>
   </div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Num billet</mat-label>
              <input matInput [(ngModel)]="selectedBillet.numBillet" />
            </mat-form-field>
          </div>
   </div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Date emission Min</mat-label>
                  <input matInput [owlDateTimeTrigger]="datel1"  [(ngModel)]="selectedBillet.dateEmission__lt" [owlDateTime]="datel1">
                  <mat-icon matSuffix [owlDateTimeTrigger]="datel1" class="date-icon">today</mat-icon>
                  <owl-date-time #datel1></owl-date-time>
                </mat-form-field>       </div>
</div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Date emission</mat-label>
                  <input matInput [owlDateTimeTrigger]="date1"  [(ngModel)]="selectedBillet.dateEmission" [owlDateTime]="date1">
                  <mat-icon matSuffix [owlDateTimeTrigger]="date1" class="date-icon">today</mat-icon>
                  <owl-date-time #date1></owl-date-time>
                </mat-form-field>       </div>
</div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Date emission Max</mat-label>
                  <input matInput [owlDateTimeTrigger]="dateg1"  [(ngModel)]="selectedBillet.dateEmission__gte" [owlDateTime]="dateg1">
                  <mat-icon matSuffix [owlDateTimeTrigger]="dateg1" class="date-icon">today</mat-icon>
                  <owl-date-time #dateg1></owl-date-time>
                </mat-form-field>       </div>
</div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Date paiment Min</mat-label>
                  <input matInput [owlDateTimeTrigger]="datel2"  [(ngModel)]="selectedBillet.datePaiment__lt" [owlDateTime]="datel2">
                  <mat-icon matSuffix [owlDateTimeTrigger]="datel2" class="date-icon">today</mat-icon>
                  <owl-date-time #datel2></owl-date-time>
                </mat-form-field>       </div>
</div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Date paiment</mat-label>
                  <input matInput [owlDateTimeTrigger]="date2"  [(ngModel)]="selectedBillet.datePaiment" [owlDateTime]="date2">
                  <mat-icon matSuffix [owlDateTimeTrigger]="date2" class="date-icon">today</mat-icon>
                  <owl-date-time #date2></owl-date-time>
                </mat-form-field>       </div>
</div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Date paiment Max</mat-label>
                  <input matInput [owlDateTimeTrigger]="dateg2"  [(ngModel)]="selectedBillet.datePaiment__gte" [owlDateTime]="dateg2">
                  <mat-icon matSuffix [owlDateTimeTrigger]="dateg2" class="date-icon">today</mat-icon>
                  <owl-date-time #dateg2></owl-date-time>
                </mat-form-field>       </div>
</div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Date reservation Min</mat-label>
                  <input matInput [owlDateTimeTrigger]="datel3"  [(ngModel)]="selectedBillet.dateReservation__lt" [owlDateTime]="datel3">
                  <mat-icon matSuffix [owlDateTimeTrigger]="datel3" class="date-icon">today</mat-icon>
                  <owl-date-time #datel3></owl-date-time>
                </mat-form-field>       </div>
</div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Date reservation</mat-label>
                  <input matInput [owlDateTimeTrigger]="date3"  [(ngModel)]="selectedBillet.dateReservation" [owlDateTime]="date3">
                  <mat-icon matSuffix [owlDateTimeTrigger]="date3" class="date-icon">today</mat-icon>
                  <owl-date-time #date3></owl-date-time>
                </mat-form-field>       </div>
</div>

   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
          <div class="text-inside">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Date reservation Max</mat-label>
                  <input matInput [owlDateTimeTrigger]="dateg3"  [(ngModel)]="selectedBillet.dateReservation__gte" [owlDateTime]="dateg3">
                  <mat-icon matSuffix [owlDateTimeTrigger]="dateg3" class="date-icon">today</mat-icon>
                  <owl-date-time #dateg3></owl-date-time>
                </mat-form-field>       </div>
</div>


	</div>

	</div>

<div class="btn-sec mt-4">
  
  <button class="btn-space" mat-raised-button (click)="search()" color="primary">
    Search
  </button>
  <button mat-raised-button color="warn" (click)="close()" tabindex="-1">
    Cancel
  </button>

</div>
  </div>
